html, body {
    background: #EBEADD !important;
    color: #000;
    font-family: 'Overpass', sans-serif;
}

/* Title */
.title-section {
    text-align: center;
}

.main-title {
    color: #0C7B56;
    font-size: 2rem;
    font-weight: 700;
}

/* Category Cards */
.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 200px;
}

.category-card .icon {
    width: 80px;
    height: 105px;
}

/* LEFT + RIGHT Layout */
.viz-box {
    background: rgba(255,255,255,0.25);
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
    min-height: 420px;
}

.description-box {
    background: rgba(255,255,255,0.4);
    border-radius: 14px;
    padding: 25px;
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.desc-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0C7B56;
    margin-bottom: 15px;
}

/* Buttons */
.play-button {
    width: 80px;
    height: 80px;
    border: 3px solid #0C7B56;
    border-radius: 50%;
    cursor: pointer;
}

.restart-button {
    cursor: pointer;
}
